.container {
    background-color: rgb(23, 43, 58);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 48px;
}

.link {
    color: hsla(0, 0%, 100%, .4);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
