.container {
    background-color: rgb(23, 43, 58);
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    align-items: center;
    height: 48px;
    padding-left: 32px;
    padding-right: 32px;
}


.menu {
    color: hsla(0, 0%, 100%, 0.4);
    text-decoration: none;
}

.menu:hover {
    text-decoration: underline;
}

.links {
    display: flex;
    align-items: center;
    padding-right: 8px;
}

.link {
    cursor: pointer;
}

.img {
    width: 32px;
    height: 32px;
}

.img:hover {
    filter: brightness(85%);
}

.pages {
    font-size: 1.2em;
}

.controls {
    align-self: stretch;
}

.version {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .container {
        padding-left: 0;
        padding-right: 4px;
        grid-template-columns: 2fr auto;
    }
    .pages {
        display: none;
    }    
}
